{% extends "master/base.html" %}

{% block content %}
<h1 class="page-title">Employee List</h1>

<div style="text-align:center;">
    <a href="{% url 'add_employee' %}" class="add-btn">Add Employee</a>
</div>

<table>
    <tr>
        <th>Name</th>
        <th>Image</th>
        <th>Action</th>
    </tr>
    {% for employee in employee_data %}
    <tr>
        <td>{{employee.name}}</td>
        <td>
            <img src="{{employee.image.url}}" width="50px" alt="">
        </td>
        <td>
            <a href="{% url 'edit_employee' employee.id %}">Edit</a>
            <a href="{% url 'delete_employee' employee.id %}">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}